*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    background: #dbdbdb;
    /*background: url("/images/index.jpg") repeat;*/
    background: url("../images/page.png");
}
#form {
    padding: 10px 30px;
}
#content{
    width: 350px;
    height: 450px;
    margin: 50px auto auto auto;
    border: 1px solid #d77206;
    background-color: #ffffff;
    border-radius:5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    font-family: "Centro Sans pro", sans-serif;
}
hr {
    margin-bottom: 10px;
}
.input input{
    height: 30px;
    width: 95%;
    margin: 5px auto;
    border: 1px solid #d77206;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #d77206;
    font-size: 1.2em;
    padding-left: 10px;
    color: #743a05;
}
.input input:focus{
    outline: none;
    /*border: 2px solid #a03f05;*/
    /*border-radius:5px;*/
}
span {
    margin-right: 10px;
}
.radio{
    margin-top: 10px;
}
input[type="submit"] {
    height: 34px;
    width: 160px;

    color: white;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
    font: 15px Centro Sans pro, sans-serif;
}
input[type="submit"]:hover {
    background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}
input[type="submit"]:active {
    background: linear-gradient(#f59500, #f5ae00) #f59500;
}
#button {
    margin-top: 20px;
}

.messenger {
    padding: 3px;
    color: red;
}